.add-form {
  margin-bottom: 40px;
}
.form-control {
  margin: 20px 0;
}
.form-control label {
  display: block;
}
.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control input:focus {
  outline: 0;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
  color: white;
}
.btn-block {
  display: block;
  width: 100%;
}

.main{
  background-color: rgb(222, 238, 244);
}
.addForm{
  cursor: pointer;
  margin-bottom: 30px;
}
.addForm input, .addForm textarea {
  display: inline;
  margin-left: 5px;
  width:230px;
  height: 30px;
}
/* .addForm textarea {
  display: inline;
  margin-left: 5px;
  width:230px;
  height: 30px;
} */
.addForm button, button {
  margin-left: 5px;
  width: 140px;
  color: white;
  background-color: rgb(23, 149, 107);
}
.addForm button:hover {
  background-color: green;
}
button:hover {
  background-color: rgb(10, 62, 10);
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 50%;
}